.form {
  display: flex;
  border-top: 2px solid rgb(0, 180, 160);
}

.input {
  border: none;
  border-radius: 0 0 0 25px;
  padding: 3%;
  width: 75%;
  font-size: 1rem;
  background-color: #dfdbdb;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.chat-button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(0, 180, 160);
  padding: 20px;
  display: inline-block;
  border: none;
  border-radius: 0 0 25px 0;
  width: 25%;
}
